#username, #pass, #conpass, #email, #regForm, #cap{
	border:0;
	border-radius:5px;
}
.pass {
	background: #B4E391!important;
	background: linear-gradient(to bottom, #B4E391 0%, #61C419 50%, #B4E391 100%)!important;
	color: #000;
}
.fail {
	background: #FF3019!important;
	background: linear-gradient(to bottom, #FF3019 0%, #CF0404 100%)!important;
}
.weak {
	background: #FFA84C!important;
	background: linear-gradient(to bottom, #FFA84C 0%, #FF7B0D 100%)!important;
}
.mod {
	background: #D2FF52!important;
	background: linear-gradient(to bottom, #D2FF52 0%, #91E842 100%)!important;
}
#errors {
	color: red;
	font-weight: bold;
}
form #tos {
	display: none;
}


@keyframes shake {
	9%, 45% {
		transform: translate(1px, 0) rotate(0);
	}
	18%,
	36% {
		transform: translate(4px, 0) rotate(0);
	}
	27% {
		transform: translate(7px, 0) rotate(0);
	}
	54%,
	90% {
		transform: translate(-1px, 0) rotate(0);
	}
	63%,
	81% {
		transform: translate(-4px, 0) rotate(0);
	}
	72% {
		transform: translate(-7px, 0) rotate(0);
	}
	0%,
	100% {
		transform: translate(0, 0) rotate(0);
	}
}
.shake {
	animation-duration: 20ms;
	animation-iteration-count: infinite;
	animation-name: shake;
	animation-timing-function: ease-in-out;
}