@charset "utf-8";
/* CSS Document */

@font-face {
 font-family:Calibri;
 src: url("../fonts/CALIBRI.TTF"); 
}


body
{
background:#000000;
font-family:Calibri;
}

.leaderboard-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.leaderboard-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.leaderboard-list {
    list-style: none;
    padding: 0;
}

.leaderboard-list li {
    font-size: 16px;
    margin-bottom: 5px;
}

.lightbox_register
{
position:absolute;
background:url(logo111.png) no-repeat;
background-size: 920px 350px;
background-position: 0px 0px; 
z-index:999;
margin-left:0px;
width:920px;
height:350px;
}

.background_xmas
{
background:url(../img/Homepage/xmass_bg.jpg) no-repeat;    
}

.registerbox_container
{
float:left;
width:230px;
height:260px;
margin-top:0px;
//background:url(../img/homepage_registerbox_bg.jpg) no-repeat;
}



.registerbox_container .insideregisterbox_container
{
float:left;
padding:15px;
width:215px;
height:260px;
color:#FFFFFF;
font-size:13px;
}


.register_accept_box_container a
{
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}

.register_accept_box_container
{
float:left;
width:100%;
color:#FFFFFF;
font-size:15px;
}

#register_accept_box
{
width:180px;
float:left;
}

.contenthead {
  background-color: 
rgba(51, 26, 26, 0.7);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto; /* Center the block horizontally */
  display: flex; /* Use flexbox to center content */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children horizontally in the main axis */
  align-items: center; /* Center children horizontally in the cross axis (since it's column flex-direction) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(50% - 40px); /* Adjust width for two side-by-side */
  max-width: 650px; /* Maximum width can be set to ensure it does not get too wide */
}

@media (max-width: 768px) {
  .contenthead {
    width: 90%; /* Full width for smaller screens with some padding */
    margin: 20px auto; /* Adjust margin for stacked layout */
  }
}


/* Add a container around content heads for additional control */
.contentheads-container {
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  background-color: #222;
  color: #ddd;
  width: 100%; /* Table takes the full width of its container */
}

.styled-table th, .styled-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #444;
}

.styled-table th {
  background-color: #333;
}

.styled-table:hover {
  background-color: #2a2a2a;
}

/* Responsive adjustment if necessary */
@media (max-width: 768px) {
  .contenthead {
    width: 100%; /* Full width for smaller screens */
    margin: 20px auto; /* Adjust margin for stacked layout */
  }
}


.homepage_container
{
width:960px;
margin:auto;
}

.homepage_container #header
{
//background:url(../img/Homepage/HeaderV2.jpg);
background:url(../img/Homepage/OGRPG_Project.png);
background-size: 960px 115px;
background-position: 0px 0px;
width:960px;
height:115px;
}


.main_center_container
{
float:left;
//background:url(../img/Homepage/background_narcos.jpg);
//background:url(../img/Homepage/BackgroundV2.gif);
background-size: 920px 350px;
background-position: 0px 0px;
width:920px;
height:350px;
margin:20px;
}


.main_center_container #breaking_news
{
float:left;
margin:20px;
margin-top:240px;
width:500px;
height:120px;
color:#ffffff;
}


.power_list_container
{
float:left;
width:920px;
height:260px;
margin:20px;
margin-top:0px;
}


.power_list_container #column
{
float:left;
width:293px;
height:100%;
background:#1c7112;
margin-right:10px;
border-bottom:3px solid #000000;
border-left:3px solid #000000;
border-right:3px solid #000000;
border-top:3px solid #000000;
}

.power_list_container #column #title
{
position:absolute;
width:283px;
height:30px;
background:#929292;
margin:5px;
color:#000000;
}


.power_list_container #column #title span
{
float:left;
margin:5px;
}


.power_list_container #column #container_list
{
position:absolute;
width:273px;
height:300px;
margin:10px;
margin-top:50px;
}


.power_list_container #column #container_list #item
{
float:left;
margin:0px;
width:273px;
height:30px;
color:#FFFFFF;
font-size:14px;
margin-bottom:10px;
border-bottom:1px solid #ffffff;
}

.power_list_container #column #container_list #item #item_text
{
float:left;
}


.power_list_container #column #container_list #item #item_value
{
float:right;
}


.footer_container
{
float:left;
width:960px;
height:40px;
background:#929292;
}

.footer_container #footer
{
float:left;
width:920px;
height:30px;
margin:20px;
margin-top:5px;
}

.footer_container #footer span
{
float:right;
margin:6px;
color:#000000;
font-size:14px;
}

.btn_register
{
padding:40px;
padding-bottom:10px;
padding-top:10px;
color:#ffffff;
font-size:16px;
font-weight:bold;
border:none;
background-color:#ffffff;
cursor:pointer;
}

#login_container
{
float:right;
height:60px;
width:460px;
margin:20px;
}


.text_field_edit
{
width:170px;
height:20px;
padding:5px;
color:#888888;
font-size:13px;
border:none;

}

.btn
{
padding-left:20px;
padding-right:20px;
height:30px;
margin-left:0px;
color:#000000;
font-size:13px;
font-weight:bold;
border:none;
background-color:#929292;
cursor:pointer;
}


.btn_text
{
float:left;
background:#ffffff;
color:#FFFFFF;
height:30px;
padding-left:10px;
padding-right:10px;
line-height:29px;
cursor:pointer;
text-align:center;
}


#special_link 
{
text-decoration:none;
border-bottom:1px solid #FFFFFF;
padding-bottom:3px;
color:#FFFFFF;
font-size:13px;
}


#special_link:hover
{
color:#929292;
border-bottom:1px solid #000000;
}



.links_bar
{
float:left;
background-color:#929292;
width:960px;
height:35px;
}


.links_bar #link_box 
{
float:left;
color:#000000;
font-size:15px;
padding-top:7px;
padding-bottom:9px;
padding-right:19px;
padding-left:20px;
border-right:1px solid #ffffff;
}

.links_bar #link_box a
{
text-decoration:none;
color:#000000;
font-weight:bold;
cursor:pointer;
}

.links_bar #link_box a:hover
{
color:#ffffff;
}



#info
{
float:right;
color:#000000;
width:22px;
height:30px;
background-color:#929292;
font-size:16px;
text-align:center;
cursor:pointer;
}



#text_container
{
float:left;
width:600px;
background-color:#4D4D4D;
color:#FFFFFF;
padding:15px;
}

.mce-content-body {
background: #111111;
color:#FFFFFF;
}

#cookies_mask
{
position:absolute;
width:960px;
padding:10px;
height:40px;
padding-top:30px;
padding-bottom:30px;
background: rgba(24, 24, 24, 0.9);
color:#FFFFFF;
}



.section_vertical
{
float:left;
width:313px;
margin-left:20px;
}

.section_vertical #section
{
float:left;
width:313px;
height:auto;
color:#FFFFFF;
margin-bottom:20px;
}


.blink__container_label
{
float:left;
width:765px;
height:35px;
background:#ffffff;
border-left:5px solid #ffffff;
cursor:pointer;
}

.blink__container_label:hover
{
border-left:5px solid #ffffff;
}


.blink__container_label #inside
{
float:left;
margin-left:10px;
color:#FFFFFF;
line-height:32px;
}

.anno_view
{
width:100%; 
color:#FFFFFF; 
float:left; 
display:none; 
line-height:25px;
margin-bottom:20px;
}