body {
	font-family: helvetica, arial, geneva, sans-serif;
	padding: 0;
	margin-top: 0;
	border-top: 0;
	color: white;
 background-image: url("landing/background1.jpg");
	background-color: #000;
	text-align: left;
	font-size: 10pt;
	overflow-x: hidden;
	line-height: 150%;
	line-height: 150%;
}
p {
	text-align: left;
	font-weight: normal;
	font-size: 10pt;
	line-height: 120%;
	padding: 0 36px;
}
h1 {
	width: 90%;
	background-color: #2A6789;
	color: #fff;
	letter-spacing:2px;
	text-align: left;
	padding: 0.5em;
	font-size: 14px;
	
}
h4, h3, h5, .contenthead {
	width: 90%;
	background-color: #2A6789;
	color: white;
	text-align: left;
	padding: 0.25em;
	font-size: 12px;
}
src {
	border: none;
}
ul {
	text-align: left;
}
li {
	text-align: left;
	line-height: 150%;
	
	
}
fieldset {
	width:90%;
  padding: 1em;
  font:100%/1 sans-serif;
  }
legend {
	text-align:left;
  padding: 0.2em 0.5em;
  border:1px solid white;
  color:white;
  font-size:100%;
  
  }
  
div#warid legend {
	text-align:left;
	padding: 0.2em 0.5em;
	border: none;
	color:white;
	font-size:100%;	 
  
}
div#warid fieldset {
	width:90%;
	border: 1px solid gray;
  padding: 1em;
  font:100%/1 sans-serif;
  }
  
div#war label {
  float:left;
  width:30%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }
  
div#pref legend {
	text-align:left;
	padding: 0.2em 0.5em;
	border: 1px solid gray;
	color:white;
	font-size:100%;	 
  
}
div#pref fieldset {
	width:90%;
	border: 1px solid gray;
	text-align:left;
  
  font:100%/1 sans-serif;
  }
  
div#pref label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  size: 10px;
  }
div#forms .contentindex {
	padding: 3px;
	color: white;
	font-size: 12px;
	text-align: left;
	table-layout: fixed;
	line-height: 125%;
	width: 100%;
}
div#forms legend {
	text-align:left;
	padding: 0.5em .8em;
	border: 1px solid gray;
	color:white;
	font-size: 12px;	 
  	background: black;
}
div#forms fieldset {
	width:90%;
	border: 1px solid gray;
	text-align:left;
	margin: 5px;
	background: url('landing/bg_form2new.jpg');
	background-size: 100% 100%;
  
  font:100%/1 sans-serif;
  }
  
div#forms label {
  float:left;
  width:20%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-size: 12px;
    
 }
div#forms label, input {
	display: inline-block;
    vertical-align: baseline;
}
div#forms form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
  
  
 div#farmmain fieldset {
	width:90%;
	border: 1px solid gray;
	text-align:left;
	margin: 5px;
	background: url('images/bg_farm2.jpg');
	background-size: 100% 100%;
  	height: 214;
  font:100%/1 sans-serif;
  }
  
div#farmmain legend {
	text-align:left;
	padding: 0.5em .8em;
	border: 1px solid gray;
	color:white;
	font-size: 12px;	 
  	background: black;
}
 
 div#farm fieldset {
	width:90%;
	border: 1px solid gray;
	text-align:left;
	margin: 5px;
	background: url('images/bg_form2new.jpg');
	background-size: 100% 100%;
  
  font:100%/1 sans-serif;
  }
  
div#farm label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-size: 12px;
  
  }
div#farm legend {
	text-align:left;
	padding: 0.5em .8em;
	border: 1px solid gray;
	color:white;
	font-size: 12px;	 
  	background: black;
}
div#farm th.animals {
	text-align: right;
	background-color: transparent;
	font-size: 11pt;
}
div#register .contentindex {
	padding: 3px;
	color: white;
	font-size: 12px;
	text-align: left;
	table-layout: fixed;
	line-height: 125%;
	width: 100%;
}
div#register legend {
	text-align:left;
	padding: 0.5em .8em;
	border: 1px solid gray;
	color:white;
	font-size: 12px;	 
  	background: black;
}
div#register fieldset {
	width 990px;
	height 305px;
	border: 1px solid gray;
	text-align:left;
	margin: 5px;
	background: url('images/regbkgrndn.jpg');
	background-size: 100% 100%;
  	width: 96%;
  font:100%/1 sans-serif;
  }
  
div#register label {
  float:left;
  width:20%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-size: 12px;
    
 }
div#register label, input {
	display: inline-block;
    vertical-align: baseline;
}
div#register form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.buy_animals {
	text-align: center;
	background-color: black;
	height 15px;
	font-size: 11pt;
	border-style: groove;
	border-width: 1px;
	margin: 2px;
	padding: 5px;
	
}
div#farm td {
	font-size: 10pt;
}
  
div#gym label {
	
	font-size: 10pt;
	text-align:left;
}
table.compose  {
	  word-wrap:break-word;
	  white-space: pre-line;
	  border: 1px dashed silver;
	  table-layout: fixed;
	  width: 90%; 
	  border-collapse: collapse;
}
.compose td:nth-child(1) {
	width: 30%;
}
  
.compose td:nth-child(2) {
	
	width: 70%;
} 
  
small {
	font-size: 8pt;
}
table {
	padding: 3px;
	color: white;
	text-align: left;
	line-height: 150%;
}
thead {
	background-color: #2A6789;
	color: white;
	text-align: left;
	font-size: 12px;
	padding: 10px;
	margin: 3px;
}
table.sortable thead {
	cursor: pointer;
}
th {
	height: 20px;
	
	background-color: #2A6789;
	color: white;
	text-align: left;
	font-size: 12px;
	padding: 2px 8px 2px 8px;
	
}
img {
	border: none;
	margin: 0;
	vertical-align: middle;
}
tr {
	line-height: 1.1em;
}
A:link {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	color: white;
}
A:visited {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	color: white;
}
A:hover {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 10pt;
	color: silver;
}
td .h {
	background-image: url(header.gif.jpg);
	background-repeat: repeat-x;
	font-weight: bold;
}
table.monthbest td {
	background-image: url(images/bg_formtd2new.jpg);
	background-size: 100% 100%;
	margin:10px;
}
table.monthbest h4 {
	margin: 15px;
	color: gold;
	font-weight: normal;
	width = 50%;
}
table.monthbest p {
	margin: 15px;
	text-align: left;
	font-weight: normal;
	font-size: 10pt;
	line-height: 120%;
	padding-left: 100px;
	
}
table.upgradetp {
	height: 104px;
	width: 100%;
	background-image: url(images/topplayern.jpg); 
	padding: 3px;
	font-size: 11pt;
	text-align: left;
}
table.dailybest {
	height: 104px;
	width: 100%;
	background-image: url(images/bestofbestn.jpg); 
	padding: 3px;
	font-size: 11pt;
	text-align: left;
}
table.upgradetlev {
	height: 104px;
	background-image: url(images/topleveln.jpg);
	width: 100%;
	padding: 3px;
	font-size: 11pt;
	text-align: left;
}
table.tableimg {
	background-image: url(images/images/bg_formtdn.jpg);
	background-size: 100% 100%;
	padding:40px;
}
.topstat {
	padding-left: 30px;
}
table.navbar {
	vertical-align: top;
	background-color: #0A2232;
	width: 150px;
	color: #753;
	font-size: 12px;
	text-align: left;
}
table.navbar th {
	border: 10px solid black;
}
table.navbar td a {
	display: block;
	text-decoration: none;
}
table.navbar td a:link, table.navbar td a:visited {
	vertical-align: top;
	color: #ddd;
	font-size: 12px;
	text-align: left;
	border-bottom: 3px groove #505050;
	padding-left: 6px;
	padding: 3px;
}
table.navbar td a:hover, table.navbar td a:active {
	vertical-align: top;
	background-color: #037296;
	color: #fff;
	font-size: 13px;
	text-align: left;
}
div#main {
	position: relative;
	width: 990px;
	padding: 0;
	margin-top: 0;
	border-top: 0;
}
div#menu {
	width: 10%;
	float: left;
}
div#menu th {
	background: url(images/images/bg1234_01n.jpg);
	width: 200px;
	height: 25px;
	padding: 0;
	margin: 0;
}
div#announce {
	width: 84%;
	font-size: 10px;
	padding: 4px 0 0 0;
	height: 30px;
	margin-top: 5px;
	background-color: #222222;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	vertical-align: middle;
	float: right;
}
div#adbar {
	width: 83.6%;
	font-size: 0.915em;
	padding: 2px 0 2px 4px;
	height: 20px;
	margin-top: 5px;
	background-color: #0A2232;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	vertical-align: middle;
	float: right;
}
div#bestest {
	width: 350px;
	height: auto;
	float: left;
	padding: 0;
	background: #01152a;
	text-align: center;
}
div#upgrade {
	width: 84%;
	text-align: center;
	margin-top: 5px;
	border-style: solid;
	border-width: 1px;
	background-color: #01152a;
	border-color: silver;
	float: right;
}
div#maincontent {
	background-color: #0A2232;
	width: 84%;
	text-align: left;
	padding: 0;
	margin-bottom: 220px;
	border-top: 0;
	float: right;
	overflow: hidden;
	border-style: solid;
	border-top: 0;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-color: silver;
	border-style: solid;
}
div#maintop {
	background-color: #01152a;
	height: 5px;
	width: 84%;
	margin-top: 10px;
	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 0;
	border-color: silver;
	border-style: solid;
	float: right;
}
div#stats {
	background: url(images/images/box2.png);
	background-size: cover;
	border: groove;
	border-color: silver;
	position: absolute;
	font-size: 12px;
	left: 40px;
	top: 50px;
	z-index: 1;
}
div#profile {
	background: url(images/images/box2.png);
	background-size: cover;
	border: groove;
	border-color: silver;
	position: absolute;
	font-family: "comic sans";
	left: 750px;
	top: 45px;
	z-index: 2;
	font-size: 11pt;
	color: black;
	line-height: 150%;
}
div#prefs {
	text-align: left;
}
div#mainend {
	height: 10px;
}
div#endp {
	color: #fff;
	position: relative;
	bottom: 0;
	clear: both;
	font-size: 8pt;
	line-height: 1.2em;
}
div#spacer {
	color: #fff;
	height: 246px;
}
div#banner {
	vertical-align: top;
	color: #fff;
max-height:100%;
width: 992px;
content:url(http://yobcity.com/landing/header11211.png);
}
div#top {
	vertical-align: top;
	color: #fff;
	width: 970px;
	font-size: 10px;
	text-align: right;
}
div#mainlogin {
	background-color: #0A2232;
	width: 100%;
	text-align: center;
	padding: 0;
	border-top: 0;
	overflow: hidden;
	border-style: solid;
	border-top: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-style: solid;
}
div#moderules {
	overflow: hidden;
}
#topContent {
	z-index: 0;
}
#floatHeader {
	position: absolute;
	min-height: 200px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
#floatHeader2 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
#floatFooter {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#gtextb {
	color: #fff;
	background-color: #01152a;
	border: silver;
}
.textbox {
	color: #fff;
	background-color: #01152a;
	border: silver;
}
.dropdown {
	color: #fff;
	background-color: #353535;
	border: silver;
}
.textm {
	text-align: center;
}
.textl {
	text-align: left;
}
.textr {
	text-align: right;
}
.submit {
	color: #fff;
	background-color: silver;
	border: silver;
}
.emph {
	color: red;
	font-size: 12pt;
	font-weight: bold;
}
.emp {
	color:white;
	font-variant: small-caps;
	
	
}
.red {
	color: red;
}
.green {
	color: green;
}
.normal {
	color: silver;
	font-size: small;
	font-style: normal;
}
.submit1 {
	background: url('images/button2.gif') no-repeat;
	border: 0;
	width: 50px;
	height: 20px;
	cursor: pointer;
}
.submit2 {
	background-color: #01152a;
	border-color: silver;
	color: silver;
	cursor: pointer;
}
.noround {
	background-image: url(images/wq1.png);
	background-repeat: no-repeat;
	height: 20px;
	background-color: #0A2232;
	border: 1px solid #444;
}
.contentindex td {
	padding: 4px;
	margin: 2px;
}
.contentindexhome td {
	padding: 1px;
	margin: 1px;
}
.menu td {
	line-height: 1.1em;
}
.mail {
	height: 40px;
}
.table th {
	background-color: #0A2232;
	border: 1px solid #444;
	font-weight: bold;
}
.content {
	width: 100%;
	padding: 0;
}
.houseinv {
	width: 33%;
	text-align:center;
}
.small {
	font-size: 8pt;
}
.new {
	color: red;
	font-weight: bold;
}
.contentcontent {
	padding: 3px;
	font-size: 11pt;
	text-align: left;
}
.contentcontentnew {
	padding: 3px;
	font-size: 10pt;
	text-align: left;
}
.contentcentre {
	padding: 3px;
	font-size: 11pt;
	text-align: center;
}
.contentgang {
	padding: 3px;
	font-size: 10pt;
	text-align: left;
	border: 2px;
}
.contenttable {
	padding: 3px;
	color: white;
	font-size: 10pt;
	text-align: left;
	line-height: 150%;
}
.contentheader {
	background-color: #0A2232;
	border: 1px solid #444;
	padding: 3px;
	color: #ddd;
	font-size: 12px;
	text-align: center;
}
.colour1 {
	background-color: #0B2736;
	overflow: auto;
	padding: 5px 20px 5px 20px;
}
.colour2 {
	background-color: #1A3C4F;
	overflow: auto;
	padding: 5px 20px 5px 20px;
}
.sccolour1 {
	background-color: #111;
	overflow: auto;
}
.sccolour2 {
	background-color: #222;
	overflow: auto;
}
.sccolour3 {
	background-color: #333;
	overflow: auto;
}
.sccolour4 {
	background-color: #444;
	overflow: auto;
}
.sccolour5 {
	background-color: #555;
	overflow: auto;
}
.sccolour6 {
	background-color: #666;
	overflow: auto;
}
.sccolour7 {
	background-color: #777;
	overflow: auto;
	color: black; 
}
.sccolour8 {
	background-color: #888;
	overflow: auto;
	color: black;
}
.sccolour9 {
	background-color: #999;
	overflow: auto;
	color: black;
}
.sccolour10 {
	background-color: #aaa;
	overflow: auto;
	color: black;
}
.sc {
	height: 100px;
	overflow: auto;
	word-wrap: break-word;
}
.sc2 {
	height: 30px;
	overflow: auto;
	word-wrap: break-word;
}
.sc3 {
	height: 60px;
	overflow: auto;
	word-wrap: break-word;
}
.dbottom {
	border-bottom: 1px dotted #ffffff;
	padding: 10px;
	word-wrap: break-word;
}
.dbottom2 {
	border-bottom: 1px dotted #ffffff;
	padding: 10px;
	word-wrap: break-word;
	font-size: 11px;
	
}
.sbottom2 {
	border-bottom: 1px solid #ffffff;
	padding: 10px;
	word-wrap: break-word;
	font-size: 11px;
	
}
.maildbottom {
	border-bottom: 1px dotted #ffffff;
	overflow: scroll;
	width: 100px;
	padding: 3px;
	word-wrap: break-word;
}
.sbottom {
	border-bottom: 1px solid #ffffff;
	padding: 3px;
}
.contentindex {
	padding: 3px;
	color: white;
	font-size: 12px;
	text-align: left;
	table-layout: fixed;
	line-height: 125%;
	width: 90%;
}
.contentindexhome {
	color: white;
	font-size: 11px;
	text-align: left;
	line-height: 125%;
}
.profiletable {
	padding: 3px;
	color: white;
	font-size: 12px;
	text-align: left;
	table-layout: fixed;
	line-height: 105%;
	width: 90%;
}
.profiletable td:nth-child(1) {
	width: 20%;
}
  
.profiletable td:nth-child(2) {
	
	width: 30%;
} 
.profiletable td:nth-child(3) {
	width: 20%;
}
  
.profiletable td:nth-child(4) {
	
	width: 30%;
} 
.imginv {
	position: absolute;
    
}
#imga
{
	position:relative;
	width:80px;
	height:80px;
	
z-index: 10;
}
#imgb
{
	position: absolute;
	width:60px;
	height:60px;
	padding: 10px;
	
z-index: 20; 
}
.imgshop {
	position: absolute;
    
}
.imgshop#imga
{
	position:relative;
	width:40px;
	height:40px;
	
z-index: 10;
}
.imgshop#imgb
{
	position: absolute;
	width:30px;
	height:30px;
	padding: 5px;
	
z-index: 20; 
}
.trans {
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
.quotemain {
	background-color: #01152a;
	color: white;
	border: 1px solid #444;
	width: 80%;
	position: relative;
	left: 10%;
}
.quotetop {
	position: relative;
	left: 5%;
	font-weight: bold;
	padding: 6px;
}
.lottery {
	font-size: 18pt;
	color: white;
	font-weight: bold;
}
.about {
	text-align: left;
	position: relative;
	left: 70px;
	font-size: 15px;
	line-height: 150%;
}
.shout {
	width: 95%;
	border: 1px solid #fff;
}
.shoutleft {
	border-right: 1px solid #fff;
}
.newclass {
	line-height: 1.1em;
}
.track {
	table-layout: fixed;
	width: 700px;
	overflow: hidden;
}
.deleted {
	background-color: #b0b0b0;
}
A:link.linky {
	font-size:0.8em;
	padding:5px 8px 5px 8px;
	margin:0px 2px 0px 2px;
	background-color:#edd;
	color:black;
}
A:visited.linky {
	font-size:0.8em;
	padding:5px 8px 5px 8px;
	margin:0px 2px 0px 2px;
	background-color:#edd;
	color:black;
}
A:hover.linky {
	font-size:0.8em;
	padding:5px 8px 5px 8px;
	margin:0px 2px 0px 2px;
	background-color:#cbb;
	color:black;
}
A:link.gold {
	color:gold;
}
A:visited.gold {
	color:gold;
}
A:hover.gold {
	color:#E5C674;
}
#sddm {
	margin: 0;
	padding: 0;
	z-index: 30;
}
#sddm li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
}
#sddm li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 100px;
	background: #0A2232;
	color: #ddd;
	text-align: left;
	text-decoration: none;
}
#sddm li a:hover {
	background-color: #4e4c4c;
	font-size: 13px;
	text-align: left;
}
#sddm div {
	position: absolute;
	visibility: hidden;
	width: 140px;
	margin: 0;
	padding: 0;
	background: #0A2232;
	border: 1px solid #5970b2;
}
#sddm div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #0A2232;
	color: white;
	font: 11px arial;
}
#sddm div a:hover {
	background-color: #4e4c4c;
	font-size: 13px;
	text-align: left;
}
#dhtmltooltip {
	position: absolute;
	font-size: 12px;
	color: #f0f0f0;
	width: 150px;
	border: 1px solid white;
	padding: 2px;
	background-color: #061c2a;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid :DXImageTransform.Microsoft.Shadow(color=white,direction=135);
}
#rotate {
	font-size: 10px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#sliders {
    width: 200px;
}
#sliders li {
    margin-bottom: 10px;
}
#sliders div {
    margin-bottom: 5px;
}
div#newmail legend {
	text-align:left;
	padding: 0.5em .8em;
	border: 1px solid gray;
	color:white;
	font-size: 12px;	 
  	background: black;
}
div#newmail fieldset {
	width:90%;
	border: 1px solid gray;
	text-align:left;
	margin: 5px;
	background: url('images/bg_form2new.jpg');
	background-size: 100% 100%;
  
  font:100%/1 sans-serif;
  }
  
div#newmail label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-size: 12px;
  
  }
  
#page-wrap {
	width: 480px;
	background: white;
	margin: 20px auto;
	padding: 20px;
}
a.reveal {
	padding: 3px;
	background: #990000;
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 10pt;
	color: white;
	font-family: Georgia, serif;
	font-style: italic;
	cursor: pointer;
}
p.reveal {
	text-align: left;
	font-weight: normal;
	font-size: 10pt;
	line-height: 100%;
	padding: 0 0px;
	font-style: italic;
}
.logerror {
	color: red;
	font-weight: bold;
}
.oval-thought {
  position:relative;
  width:270px;
  padding:50px 40px;
  margin:1em auto 80px;
  text-align:center;
  color:#fff;
  background:#075698;
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#01152a), to(#053261));
  background:-moz-linear-gradient(#01152a, #053261);
  background:-o-linear-gradient(#01152a, #053261);
  background:linear-gradient(#01152a, #053261);
  /*
  NOTES:
  -webkit-border-radius:220px 120px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:220px / 120px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:220px 120px;
  -webkit-border-top-right-radius:220px 120px;
  -webkit-border-bottom-right-radius:220px 120px;
  -webkit-border-bottom-left-radius:220px 120px;
  -moz-border-radius:220px / 120px;
  border-radius:220px / 120px;
}
.oval-thought p {font-size:1em;}
/* creates the larger circle */
.oval-thought:before {
  content:"";
  position:absolute;
  bottom:-20px;
  left:50px;
  width:30px;
  height:30px;
  background:#053261;
  /* css3 */
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}
/* creates the smaller circle */
.oval-thought:after {
  content:"";
  position:absolute;
  bottom:-30px;
  left:30px;
  width:15px;
  height:15px;
  background:#053261;
  /* css3 */
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
}