@import '../css/reset.css';
body {
	font-family: helvetica, arial, geneva, sans-serif;
	color: white;
	background: url('../images/login/bg.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #000;
	text-align: left;
	font-size: 10pt;
	line-height: 150%;
	line-height: 150%;
}
footer {
	height: 50px;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.6);
	color: #fff;
	position:fixed;
	bottom: 0;
}
a {
	text-decoration: none;
	color: #fff;
	padding-right: 5px;
	float: right;
}
img {
	max-width: 100%;
}
#logo {
	position: absolute; left: 0; right: 0; top: 50px; margin: 0 auto;
	width: 200vw; max-width: 600px;
}
button {
	
}
#button-login {
	margin-right: 10px; border: 0; float:right;
	background: url('../images/login/btn-login.png');
	width: 8.8vw; height: 6vh;
	width: 120px;
	height: 40px;
}
#button-register {
	margin-right: 10px; border: 0; float:right;
	background: url('../images/login/btn-register.png');
	width: 8.8vw; height: 6vh;
	width: 120px;
	height: 40px;
}
.textbox { 
	background: #011514;
	color: #fff;
	border: 2px solid #29615f; 
	border-radius: 10px 5%;
	height:25px; 
	width: 275px; 
} 
#login_panel {
	background: rgba(0,0,0,0.6); 
	border-radius: 10px 5%; 
	padding: 15px;
	width: 281px; height: 190px; 
	position: absolute; 
	left: 60%; top: 50%; 
	margin: -89px 0 0 -155.5px;
}