html{
background:#000;
}
body{
width:1920px;
height:1080px;
position:absolute;
left:50%;
margin-left:-960px;
top:50%;
margin-top:-450px;
background:url("../images/login.png");
background-repeat:no-repeat;
}
#username{
background:rgba(0,0,0,0);
position:absolute;
left:795px;
top:430px;
font-size:30px;
height:70px;
border:none;
}
#password{
background:rgba(0,0,0,0);
position:absolute;
left:795px;
top:585px;
font-size:30px;
height:70px;
border:none;
}
#submit{
opacity:0;
position:absolute;
left:1070px;
top:705px;
font-size:20px;
height:60px;
border:none;
}
#signup{
opacity:0;
position:absolute;
left:790px;
top:705px;
height:60px;
width:270px;
}
#signup2{
opacity:0;
position:absolute;
left:250px;
top:590px;
height:300px;
width:400px;
}
